# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db

# Environment variables
.env

# Data
data/papers/
data/embeddings/
data/database/

# System
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log